# Visual Studio
.vs/
bin/
obj/
packages/
*.user
*.suo
*.pdb
*.cache
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# NuGet
*.nupkg
nuget.exe
nuget.targets
nuget.props
*.nuget.props
*.nuget.targets

# SQLite
*.db
!database.db
*.db-journal
*.db-wal
*.sqlite
